body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #ffcccc, #ff99ff);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}